{% load static %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StudIQ</title>

    <!-- Link to local Bootstrap CSS and custom styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/belajar-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>

    </style>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container-fluid d-flex mt-4 mb-4 konten">
        <div class="row w-100">
            <aside class="col-md-4 bg-white shadow-sm rounded asid">
                <div class="d-flex">
                    <i class="fas fa-book-open me-2 fa-3x titik list"></i>
                    <h2 class="h5 fw-bold mb-3 list">
                        Materi 1<br>Makhluk Hidup dan Lingkungannya <br><span class="enam">6 Materi</span>
                    </h2>
                </div>
                <div class="mb-3">
                    <a href="{% url 'studiq_app:daftar_kelas' %}"
                        class="text-dark d-flex justify-content-between align-items-center mb-3 mt-3 link">
                        <h3 class="h6 fw-bold kiri">Materi Pembelajaran</h3>
                        <i class="fas fa-chevron-right kanan"></i>
                    </a>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="sidebar-item active mb-2">
                            <a href="" class="side text-dark">Rangka dan Panca Indra Manusia</a>
                        </li>
                        <hr>
                        <li class="sidebar-item mb-2">
                            <a href="" class="side text-dark">Struktur dan Fungsi Bagian Tumbuhan</a>
                        </li>
                        <hr>
                        <li class="sidebar-item mb-2">
                            <a href="" class="side text-dark">Pengelompokan Hewan Berdasarkan Jenis Makanan</a>
                        </li>
                        <hr>
                        <li class="sidebar-item mb-2">
                            <a href="" class="side text-dark">Daur Hidup Hewan</a>
                        </li>
                        <hr>
                        <li class="sidebar-item mb-2">
                            <a href="" class="side text-dark">Hubungan Makhluk Hidup Dengan Lingkungannya</a>
                        </li>
                        <hr>
                        <li class="sidebar-item mb-2">
                            <a href="" class="side text-dark">Benda dan Sifatnya</a>
                        </li>
                        <hr>
                    </ul>
                </div>
                <a href="{% url 'studiq_app:daftar_kelas' %}"><button class="btn btn-danger w-100">Kembali</button></a>
            </aside>

            <main class="col-md-8 content-wrapper bg-white shadow-sm rounded custom-main">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Belajar</a></li>
                        <li class="breadcrumb-item"><a href="#">IPA Kelas 4</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Materi 1</li>
                    </ol>
                </nav>
                <h1 class="h4 fw-bold mb-2">
                    Materi 1
                </h1>
                <p class="text-secondary mb-4">Baca materinya dan pelajari dengan seksama, ya!</p>
                <div class="pdf-container p-3 rounded shadow-sm mb-4">
                    <h2 class="h5 fw-bold mb-3 text-center">Rangka dan Panca Indra Manusia</h2>
                    <embed src="{% static 'pdf/ipa4.pdf' %}" type="application/pdf" class="rounded" width="100%"
                        height="500px">
                </div>
                <div class="d-flex justify-content-between">
                    <a href=""><button class="btn btn-secondary">Materi Sebelumnya</button></a>
                    <a href=""><button class="btn btn-primary">Materi Selanjutnya</button></a>
                </div>
            </main>
        </div>
    </div>

    <!-- Bagian Footer -->
    {% include 'footer.html' %}
    
    <!-- Bootstrap JS and Custom Script -->
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
{% endblock %}