/* Footer Section */
.foot-section {
    background-color: #EAF2FD;
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.foot-section p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 0px;
}

.foot-section a {
    text-decoration: none;
    color: #000;
}

.foot-section a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin-left: 10px;
}