#materi {
    padding-top: 104px;
    padding-bottom: 488px;
    text-align: center;
}

#materi h1 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Isi Section */
.bingkai-filter {
    text-align: left;
    border-radius: 16px;
    padding: 46px 44px;
    box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.25);
}

.isi-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-button {
    margin-top: 28px;
    font-size: 14px !important;
    padding: 12px 34px !important;
    text-decoration: none !important;
    margin-right: 10px !important;
}

/* Footer Section */
.foot-section {
    background-color: #EAF2FD;
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.foot-section p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 0px;
}

.foot-section a {
    text-decoration: none;
    color: #000;
}

.foot-section a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin-left: 10px;
}