.konten {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.materi-title h2{
    margin-top: 24px;
}

.materi-title .icon-list {
    margin-bottom: 10px;
}

.asid {
    min-height: 100vh;
    padding-top: 20px;
}

.custom-main {
    padding-top: 20px;
    min-height: 100vh;
}

.fa-book {
    float: left;
}

.materi {
    float: left;
    margin-left: 10px;
}

.list {
    margin-top: 15px;
}

.titik {
    margin-left: 10px;
}

.enam {
    font-weight: normal;
    font-size: medium;
}

.link {
    text-decoration: none;
    text-align: center;
}

.kiri {
    margin-left: 20px;
}

.kanan {
    margin-right: 20px;
}

.pdf-container {
    height: 600px;
    border: gray solid 2px;
}

.pilih {
    text-decoration: none;
    color: black;
}

.side {
    text-decoration: none;
}

.breadcrumb-item a {
    text-decoration: none;
    color: black;
}

.sidebar-item {
    border-left: 4px solid transparent;
    padding-left: 12px;
}

.sidebar-item.active {
    border-left-color: #0d6efd;
    color: #0d6efd;
}